.DS_Store

xcuserdata
*.xcuserdatad
/Carthage
/ios/Debug.xcconfig
/ios/Release.xcconfig
/ios/ReactNativeConfigSwift/Environment.swift
/ios/ReactNativeConfigSwift/Plist.swift
/ios/ReactNativeConfigSwift/Info.plist
/ios/Local.xcconfig
/android/build
